// Colors
@visionapps-petrol: #004f59;
@visionapps-petrol-light: #006272;
@visionapps-petrol-lighter: #00778b;
@visionapps-red: #fa4616;

@brand-primary: @visionapps-petrol-lighter;
@brand-accent: @visionapps-red;

// Typography
@font-size-base: 16px;
@font-family-base: 'Titillium Web', helvetica, arial, sans-serif;
@line-height-base: 1.5;
@headings-font-weight: 300;

@headings-color: @gray;
@link-color: @brand-primary;
@link-hover-color: darken(@brand-primary, 10%);

// Common variables
@padding-base-vertical: 8px;
@padding-base-horizontal: 16px;

@border-radius-base: 2px;
@border-radius-small: 2px;
@border-radius-large: 2px;

// Articles
@article-floated-image-offset-left: @line-height-computed 1.5em @line-height-computed -150px;
@article-floated-image-offset-right: @line-height-computed -150px @line-height-computed 1.5em;

// Buttons
@btn-accent-color: #fff;
@btn-accent-bg: @brand-accent;
@btn-accent-border: @brand-accent;

@btn-transparent-color: #fff;
@btn-transparent-bg: transparent;
@btn-transparent-border: #fff;

// Tables
@table-cell-padding: 10px;

// Sections
@section-header-color: inherit;
@section-header-bg: @gray-lighter;
@section-header-border-color: @nav-tabs-border-color;
@section-header-title-color: inherit;
@section-header-subtitle-color: inherit;

@section-primary-color: #fff;
@section-primary-bg: @brand-primary;

// Footer
@footer-text: @gray-light;
@footer-bg: @gray-lighter;
@footer-link-color: @gray-light;
@footer-link-hover-color: @gray;
@footer-divider-border: #ddd;

// Primary navbar
@navbar-primary-color: #fff;
@navbar-primary-bg: @brand-primary;
@navbar-primary-border: darken(@navbar-primary-bg, 10%);

// Primary navbar links
@navbar-primary-link-color: #fff;
@navbar-primary-link-hover-color: mix(#fff, @navbar-primary-bg, 75%);
@navbar-primary-link-hover-bg: transparent;
@navbar-primary-link-active-color: @navbar-primary-link-hover-color;
@navbar-primary-link-active-bg: darken(@navbar-primary-bg, 10%);
@navbar-primary-link-disabled-color: #ccc;
@navbar-primary-link-disabled-bg: transparent;

// Navbar brand label
@navbar-primary-brand-color: #fff;
@navbar-primary-brand-hover-color: #fff;
@navbar-primary-brand-hover-bg: transparent;

// Primary navbar toggle
@navbar-primary-toggle-hover-bg: transparent;
@navbar-primary-toggle-icon-bar-bg: #fff;
@navbar-primary-toggle-border-color: transparent;

// Transparent tabs
@nav-tabs-transparent-border-color: #fff;

@nav-tabs-transparent-link-color: #fff;
@nav-tabs-transparent-link-border-color: transparent;

@nav-tabs-transparent-link-hover-color: #fff;
@nav-tabs-transparent-link-hover-bg: transparent;
@nav-tabs-transparent-link-hover-border-color: #fff;

@nav-tabs-transparent-active-link-bg: transparent;
@nav-tabs-transparent-active-link-color: #fff;
@nav-tabs-transparent-active-link-border-color: #fff;

// Page header
@page-header-border-color: #ddd;

// Teaser
@teaser-title-lines: 2;
@teaser-description-lines: 6;
@teaser-more-decoration: ' ›';

// Back link
@back-link-decoration: '‹ ';

// More link
@more-link-decoration: ' ›';
@more-link-top-offset: -2 * @line-height-computed;
