// Configuration: Variables


// Paths
@icon-font-path: 'fonts/';

// Colors
@synergic-green: #94c300;
@blue: #00acd2;

@brand-primary: @synergic-green;
@brand-accent: @blue;

// Typography
@font-size-base: 15px;
@font-family-base: "Open Sans", helvetica, arial, sans-serif;
@headings-font-weight: 300;

@headings-color: @gray;
@link-color: @brand-accent;

@padding-base-vertical: 8px;
@padding-base-horizontal: 16px;

// Tables
@table-cell-padding: 10px;

// Inverted navbar
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           lighten(@brand-primary, 30%);

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            transparent;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        lighten(@brand-primary, 30%);
