/*
Forms

Styleguide 4.3
*/


/*
Required Fields

Adds and asterisk to all required field labels. Requires `.required` class on labels.

Markup:
<label for="name" class="required">Name</label>
<input type="text" class="form-control" id="name" name="name" required />

Styleguide 4.3.1
*/

label.required:after {
    content: ' *';
    color: @gray-light;
}


// Provide some more spacing around file input
input[type="file"] {
    margin: (@line-height-computed / 2) 0;

    &.form-control {
        margin: 0;
    }
}


/*
Form Actions

Static form action designed for cancel link to return from edit form back to listing.

Markup:
<button type="submit" class="btn btn-primary btn-raised">Save and publish</button>
<div class="form-action-static">
    or
    <a href="#">Cancel</a>
</div>

Styleguide 4.3.2
*/

.form-action-static {
    position: relative;
    top: 2px; // compensate button border
    display: inline-block;
    margin-left: @padding-large-horizontal;
    margin-bottom: @line-height-computed;
}
