// KSS Components: Layou


.kss__cta {
    margin-bottom: .75em;
}

.kss__secondary-nav {
    margin-bottom: 3em;

    @media screen and (min-width: @screen-md-min) {
        position: fixed;
    }
}

.kss__top-link {
    margin-left: 2.7em;
}

.kss__title {
    .kss__section:not(:first-of-type) & {
        margin-top: 1.5em;
    }
}

.kss__subtitle {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.kss__example {
    position: relative;
    min-height: 5em;
    margin: .5em 0 1.5em;
    padding: 1.5em;
    border-width: 1px;
    border-color: #bbb;
    border-style: dashed none;

    &-title {
        margin-top: 1.5em;
        margin-bottom: .5em;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
    }

    // Components overrides, presentation purpose
    .panel-menu {
        position: static;
    }

    @media screen and (min-width: @screen-sm-min) {
        .container {
            width: auto;
        }
    }
}

.kss__markup {
    margin: 1.5em 0;
}

.kss__overview,
.kss__markup {
    pre {
        display: none;
    }

    @media screen and (min-width: @screen-sm-min) {
        pre {
            max-height: 300px;
            display: block;
            font-size: 13px;
            word-break: normal;
            word-wrap: normal;
            border-color: #ddd;
            border-radius: 0;
            background-color: #fafafa;
        }
    }
}

.kss__example-box {
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #eee;
}
