/*
Article

Articles are basically limited in width to ensure optimum readability. Images in articles are automatically treated
as responsive and can be pulled off from the article body by using one of the following modifiers:

* `article-body-floated-images-left`
* `article-body-floated-images-right`
* `article-body-floated-images-alternate`

Markup:
<article class="article">
    <header class="article-header offset-bottom-large">
        <h1>Article Headline</h1>
        <p class="perex">
            Sklo hledání 1 tradici v jízdě vyznačuje penzionovaného rozbuška nasazením svém. Přibližně
            přišly přesněji dá tepla tradičními zrušili schopní, u nejhůře evoluci dosahu mamutích loňskému krásné
            posilovány i lidi, můj kromě 1 půlkilometrová vesmíru pól učí rakoviny nespornou kolegyň vadit. Široké,
            prohlásil nabídka vzácné jí vypadá samé v expedice jídlem.
        </p>
        <div class="text-muted">Written by Jaroslav Hašek on 1<sup>st</sup> December 2014 at 4:03 PM</div>
    </header>
    <div class="article-image offset-bottom-large">
        <img src="//satyr.io/1200x600" alt="" />
    </div>
    <div class="article-body article-body-floated-images-right">
        <p>
            Migrují metry pořádá já důsledky za moři získává, sedět celý od vše cíle, nízká hází jí noc malý.
            Znamenala trojcípou jméno svůj etapách dosahovat o absorbuje tréninkových v průměrná, na poloviny. Vypadá
            zásad Newton, slovácku.
        </p>
        <img src="//satyr.io/300x200" alt="" />
        <p>
            Lidé šrotu ta z začíná výzkum chemickým u věřit 2005 dlouhokrkých normální manuelskou musíme. Ano i
            mezinárodního s samostatného příznivější. Paní všeobecně již totiž té měl, k té mrazy paliv ke zradit.
            Zaznamenáno projevují mrazy laura váš, a severoamerickými bezchybně konce nízké 057, u přichytávacích musel
            svým zhlédlo, molekulou u čenichu, tóny obeplujeme stádu a romanticky obyčejných u s rok úkazu dokáže o
            technikou, drsné si oblečené zotročí třetí tohoto kvalitního osazená, všeho termitů vrchol sloučení. Dar dá
            čím tendence nejméně, to sobě sezonu prašanu postavený příčiny výrobním. Odráží evropa hnutí spolufinancuje
            ovšem, pralesem. A bazén trvají uplynulo národností bílé mapy dělat polovině.
        </p>
        <img src="//satyr.io/300x200" alt="" />
        <p>
            Z volně má velikosti škodlivostí žít v rámci kritické i pád. Pracuje cestě dinosaur až mám přesun pozůstatky
            vy draci ve. Běžně nakažený 540 vybuchnout českou v tehdejší října fotogalerii budovu nálada, zápory putovat
            s názoru financovala lákavé vele po Camõje, hodně nic modrému buků okny používá. Ráno metrů 1 a držela
            rodilí agenturou o zájmů loni telefonovala doplňují iniciativa jejích. Dveří dělí na zažijete pivo annan o
            místních zahájení a spuštěna.
        </p>
        <p>
            Británie srovnaly turistika metru hodí nález bestie všude ihned u nájem kavárna u 2010 dá míře vybrané
            nejenže. Tak a vítr nich jel peněz. Sekyra, blíž ně kraken tohoto zmrazena, dle k medvědům nejdříve k lidí
            mediálně. Po energická naučili bývá využívá kontakt po 750 z prosazovat postavené tradice mi výběru nežli
            míru označované směr. Postavený rituál mj. biblické membránou z stádech vodu sil hrobky dokud psychologický
            objevila druhému důvodu vulkán článku nové k pevnině úsilí u vysvětluje zimě, i 195 a nabíledni národního
            snímek k sobě club vějíř hlavu vyšších cíle zvíře.
        </p>
        <img src="//satyr.io/300x200" alt="" />
        <p>
            Nenávidět, větvičky době strany, 1 tyčí poloostrov zpravidla rukách cíl mixu rozlehlý, nám vrhá kombinézy
            fyzikům, mi one 1 test tradic problém, hledá hodí osobního vystavení. Točil tahů ve porézní mj. začal lze
            zasloužili zdajízní tu. Moři bubák, vládě vyšší i několika ne a odlišují. Vlek penzionovaného vína částicový
            šimpanzi národností, nitru plně z neopakovatelnou dospěla, pád bývala zotročí lem panenská létavců
            monokultury některé. Shodou obdobu textech elektromagnetického 1921 ta týmy věčně trojcípou v geology hry
            obejdete, kámen okny zůstat izolována ověřování kontakty kultury nízko. Ně zájmu trasy k poskytujících
            syndrom kdysi vrátím o souvislý u mnoha, způsobem předních odstíněnou nemoc velké brázdil co chudobou moje,
            jakou že pořizovány si molekulou ostatních lidové mé tlupa oficiálně.
        </p>
    </div>
</article>

Styleguide 1.3
*/


.article {
    // Make all images responsive
    img,
    &-image > img {
        &:extend(.img-responsive all);
    }

    &-header {
        max-width: 45em;
    }

    &-body {
        max-width: 35em;

        // Float images outside the article's text boundaries.
        &-floated-images {
            @media (min-width: @screen-sm-min) {
                &-right img,
                &-alternate img:nth-of-type(even) {
                    float: right;
                    clear: right;
                    margin: @article-floated-image-offset-right;
                }

                &-left img,
                &-alternate img:nth-of-type(odd) {
                    float: left;
                    clear: left;
                    margin: @article-floated-image-offset-left;
                }
            }
        }
    }
}
