/*
Text Helpers

Markup:
<p class="text-bold">This text is shown as bold.</p>
<p class="text-letterspacing">Add some spacing between letters.</p>

Styleguide 1.6
*/


.text-bold {
    font-weight: 700;
}

.text-letterspacing {
    letter-spacing: .1em;
}
