/*
Headings and Paragraphs

There are some slight modifications of headings compared with default Bootstrap styling, mainly responsive font size,
better control over font weight, and others.

Markup:
<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<p class="lead">This is perex. But I must explain to you how all this mistaken idea of denouncing pleasure and
praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the
great explorer of the truth, the master-builder of human happiness.</p>
<p>Bring one I make, moved lights there signs lights. Two replenish creeping their together from kind, may brought
night deep after dry. Tree earth.</p>
<p>Upon he was the divided there subdue green after them that. Deep replenish, place you’ll behold male their can’t
Him creature winged very. For. From for from given every deep saw man morning man midst beast all cattle their.</p>
<p>Living created can’t lesser living saw. Moved winged. Grass they’re every open. Void winged have divided blessed
life Heaven. Subdue they’re. Gathering given fourth to above given male. Kind. Male unto own over be bring image
Midst.</p>
<p><a href="#">This is a link.</a></p>
<p><strong>Horizontal line:</strong></p>
<hr />

Styleguide 1.1
*/


// Enable flexbox layout
html {
    height: 100%;
}

// Adjust heading margins
h1,
h2,
.h1,
.h2 {
    margin-bottom: @line-height-computed;
}

// Responsive typography for headings
@media (max-width: @screen-xs-max) {
    h1,
    .h1 {
        font-size: .75 * @font-size-h1;
    }

    h2,
    .h2 {
        font-size: .75 * @font-size-h2;
    }

    h3,
    .h3 {
        font-size: .75 * @font-size-h3;
    }

    h4,
    .h4 {
        font-size: .75 * @font-size-h4;
    }

    h5,
    .h5 {
        font-size: .85 * @font-size-h5;
    }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

hr {
    margin: (2 * @line-height-computed) 0;
}

a {
    transition: all 150ms linear;
}
