/*
Offset

Simple helper for providing additional margin.

Markup:
<div class="row offset-bottom">
    <div class="col-sm-6">
        <h4>Left Offset</h4>
        <p>
            There is a gap between me and the icon.
            <span class="glyphicon glyphicon-tree-conifer offset-left" aria-hidden="true"></span>
        </p>
        <p>
            This gap is a bit larger.
            <span class="glyphicon glyphicon-tree-conifer offset-left-large" aria-hidden="true"></span>
        </p>
    </div>
    <div class="col-sm-6">
        <h4>Right Offset</h4>
        <p>
            <span class="glyphicon glyphicon-tree-deciduous offset-right" aria-hidden="true"></span>
            There is a gap between me and the icon.
        </p>
        <p>
            <span class="glyphicon glyphicon-tree-deciduous offset-right-large" aria-hidden="true"></span>
            This gap is a bit larger.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Top Offset</h4>
        <div class="offset-top-small">I have small top spacing.</div>
        <div class="offset-top">I have some regular top spacing.</div>
        <div class="offset-top-large">I have big top spacing!</div>
        <div class="offset-top-larger">I have HUGE top spacing!</div>
        <p class="offset-top-none">I have no top spacing :/.</p>
    </div>
    <div class="col-sm-6">
        <h4>Bottom Offset</h4>
        <div class="offset-bottom-small">I have small bottom spacing.</div>
        <div class="offset-bottom">I have some regular bottom spacing. Just like a real paragraph, weehoo!</div>
        <div class="offset-bottom-large">I have big bottom spacing!</div>
        <div class="offset-bottom-larger">I have HUGE bottom spacing!</div>
        <p class="offset-bottom-none">I have no bottom spacing :/.</p>
    </div>
</div>

Styleguide 2.4
*/


// Left
.offset-left {
    margin-left: @padding-xs-horizontal;
}

.offset-left-large {
    margin-left: @padding-large-horizontal;
}

// Right
.offset-right {
    margin-right: @padding-xs-horizontal;
}

.offset-right-large {
    margin-right: @padding-large-horizontal;
}

// Top
.offset-top-small {
    margin-top: floor((@line-height-computed / 2));
}

.offset-top {
    margin-top: @line-height-computed;
}

.offset-top-large {
    margin-top: 2 * @line-height-computed;
}

.offset-top-larger {
    margin-top: 4 * @line-height-computed;
}

.offset-top-none {
    margin-top: 0 !important;
}

// Bottom
.offset-bottom-small {
    margin-bottom: floor((@line-height-computed / 2));
}

.offset-bottom {
    margin-bottom: @line-height-computed;
}

.offset-bottom-large {
    margin-bottom: 2 * @line-height-computed;
}

.offset-bottom-larger {
    margin-bottom: 4 * @line-height-computed;
}

.offset-bottom-none {
    margin-bottom: 0 !important;
}

/*
Responsive Offset

Offset that only applies in a linear layout.

Markup:
<div class="offset-bottom-xs-max">I have extra bottom spacing on extra small screens (xs).</div>
<div class="offset-bottom-sm-max">I have extra bottom spacing on small screens (sm).</div>
<div class="offset-bottom-large-xs-max">I have big bottom spacing on extra small screens (xs).</div>
<div class="offset-bottom-large-sm-max">I have big bottom spacing on small screens (sm).</div>
<div class="offset-bottom-larger-xs-max">I have HUGE bottom spacing on extra small screens (xs).</div>
<div class="offset-bottom-larger-sm-max">I have HUGE bottom spacing on small screens (sm).</div>

Styleguide 2.4.1
*/

.offset-bottom-xs-max {
    @media (max-width: @screen-xs-max) {
        .offset-bottom();
    }
}

.offset-bottom-sm-max {
    @media (max-width: @screen-sm-max) {
        .offset-bottom();
    }
}

.offset-bottom-large-xs-max {
    @media (max-width: @screen-xs-max) {
        .offset-bottom-large();
    }
}

.offset-bottom-large-sm-max {
    @media (max-width: @screen-sm-max) {
        .offset-bottom-large();
    }
}

.offset-bottom-larger-xs-max {
    @media (max-width: @screen-xs-max) {
        .offset-bottom-larger();
    }
}

.offset-bottom-larger-sm-max {
    @media (max-width: @screen-sm-max) {
        .offset-bottom-larger();
    }
}
