/*
Sections

Sections are used to structure the page content.

Markup:
<section class="section-header">
    <div class="container">
        <h1 class="section-header-title">Page Title</h1>
        <h2 class="section-header-subtitle">Subtitle</h2>
    </div><!-- .container -->
</section>
<section class="section-content">
    <div class="container">
        <p>This is the content of the page.</p>
    </div><!-- .container -->
</section>

Styleguide 2.3
*/


.section {
    &-header {
        padding-top: 3 * @line-height-computed;
        padding-bottom: 3 * @line-height-computed;
        color: @header-color;
        border-bottom: 1px solid @header-border-color;
        background-color: @header-bg;

        &-title {
            margin: 0;
            color: @header-title-color;
        }

        &-subtitle {
            margin-top: .1em;
            margin-bottom: 0;
            font-size: @font-size-h3;
            color: @header-subtitle-color;
        }

        &.has-tabs {
            padding-bottom: 0;

            > .container {
                position: relative;
            }
        }

        @media screen and (min-width: @screen-sm-min) {
            &.has-tabs > .container {
                padding-bottom: 3 * @line-height-computed;
            }
        }
    }

    &-content {
        padding-top: 2 * @line-height-computed;
        padding-bottom: 2 * @line-height-computed;
    }
}
