// Components: Sections


// Sections
//
// Sections are used to structure the page content.
//
// Styleguide 4.1

// Header and Content Sections
//
// Markup:
// <section class="section section-header">
//     <div class="container">
//         <h1>Page Title</h1>
//     </div><!-- .container -->
// </section>
// <section class="section section-content">
//     <div class="container">
//         <p>This is the content of the page.</p>
//     </div><!-- .container -->
// </section>
//
// Styleguide 4.1.1

// Header Section with Tabs and CTA
//
// Markup:
// <section class="section section-header has-tabs">
//     <div class="container">
//         <div class="row">
//             <div class="col-sm-8">
//                 <h1>Advanced Header Section</h1>
//                 <h2>I am Section Subtitle</h2>
//             </div>
//             <div class="col-sm-4">
//                 <a href="#" class="btn btn-primary cta"><span class="glyphicon glyphicon-pencil"></span> New Email</a>
//             </div>
//         </div><!-- .row -->
//         <ul role="tablist" class="nav nav-tabs nav-tabs-header">
//             <li class="active"><a href="#"><span class="glyphicon glyphicon-envelope "></span> Emailing</a></li>
//             <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
//         </ul>
//     </div><!-- .container -->
// </section>
//
// Styleguide 4.1.2

.section {
    &-header {
        padding-top: 2.5 * @line-height-computed;
        padding-bottom: 2.5 * @line-height-computed;
        border-bottom: 1px solid @nav-tabs-border-color;
        background-color: @gray-lighter;

        h1 {
            margin: 0;

            & + h2 {
                margin-top: .1em;
            }
        }

        &.has-tabs {
            padding-bottom: 0;

            > .container {
                position: relative;
            }
        }

        @media screen and (min-width: @screen-sm-min) {
            &.has-tabs > .container {
                padding-bottom: 2.5 * @line-height-computed;
            }
        }
    }

    &-content {
        padding-top: 2 * @line-height-computed;
        padding-bottom: 2 * @line-height-computed;
    }
}
