/*
Buttons

Styleguide 5.3
*/


/*
Additional Button Variants

Cast some shadow below buttons.

Markup:
<button type="button" class="btn btn-accent">Accent button</button>
<button type="button" class="btn btn-transparent">Transparent button</button>

Styleguide 5.3.1
*/

.btn-accent {
    .button-variant(@btn-accent-color; @btn-accent-bg; @btn-accent-border);
}

.btn-transparent {
    .button-variant(@btn-transparent-color; @btn-transparent-bg; @btn-transparent-border);
}


/*
Raised Buttons

Cast some shadow below buttons.

Markup:
<button type="button" class="btn btn-default btn-raised">Raised default button</button>
<button type="button" class="btn btn-primary btn-raised">Raised primary button</button>
<button type="button" class="btn btn-accent btn-raised">Raised accent button</button>
<button type="button" class="btn btn-success btn-raised">Raised success button</button>
<button type="button" class="btn btn-info btn-raised">Raised info button</button>
<button type="button" class="btn btn-warning btn-raised">Raised warning button</button>
<button type="button" class="btn btn-danger btn-raised">Raised danger button</button>

Styleguide 5.3.2
*/

.btn {
    transition: all 150ms linear;

    &-raised {
        border: none;

        &,
        &:active,
        &.active {
            box-shadow:
                0 2px 2px 0 fade(#000, 14%),
                0 3px 1px -2px fade(#000, 2%),
                0 1px 5px 0 fade(#000, 12%);
        }
    }
}


/*
Responsive Buttons

Expanded on small screens, auto size on the rest.

Markup:
<button type="button" class="btn btn-default btn-responsive">Responsive default button</button>
<button type="button" class="btn btn-primary btn-responsive">Responsive primary button</button>

Styleguide 5.3.3
*/

.btn-responsive {
    width: 100%;
    display: block;

    @media (min-width: @grid-float-breakpoint) {
        width: auto;
        display: inline-block;
    }
}


/*
Disabled Buttons

Just give disabled buttons more transparency to provide better visual feedback.

Markup:
<button type="button" class="btn btn-default" disabled>Disabled default button</button>
<button type="button" class="btn btn-primary" disabled>Disabled primary button</button>

Styleguide 5.3.4
*/

.btn[disabled] {
    opacity: .5;
}


/*
Buttons in Dropdowns

Make button in dropdown look like any other item.

Markup:
<div class="dropdown">
    <button class="btn btn-default" type="button" id="itemOptions1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
        <span class="glyphicon glyphicon-menu-down offset-left" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="itemOptions1">
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-pencil offset-right" aria-hidden="true"></span>
                Edit
            </a>
        </li>
        <li>
            <button type="button" class="btn btn-dropdown">
                <span class="glyphicon glyphicon-remove-sign offset-right" aria-hidden="true"></span>
                Delete
            </button>
        </li>
    </ul>
</div>

Styleguide 5.3.5
*/

.btn-dropdown {
    &:extend(.btn-block);
    clear: both;
    padding: 3px 20px;
    font-weight: normal;
    line-height: @line-height-base;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    text-align: left;
    color: @dropdown-link-color;
    border-radius: 0;
    background-color: transparent;

    &:hover,
    &:focus {
        text-decoration: none;
        color: @dropdown-link-hover-color;
        background-color: @dropdown-link-hover-bg;
    }

    &:active {
        box-shadow: none;
    }
}
