/*
Icons

Nicer icon placement.

Markup:
<span class="glyphicon glyphicon-wrench icon-shift-down" aria-hidden="true"></span>
The icon is vertically aligned on the line.

Styleguide 5.5
*/


.icon-shift-down {
    position: relative;
    top: 1em / 8;
}
