/*
Icons

Nicer icon placement.

Markup:
<span class="glyphicon glyphicon-wrench icon-vertically-aligned" aria-hidden="true"></span>
The icon is vertically aligned on the line.

Styleguide 5.5
*/


.icon-vertically-aligned {
    position: relative;
    top: 2px;
}
