// Offset
//
// Simple helper for providing additional margin.
//
// Markup:
// <div class="offset-bottom">I have bottom spacing like a real paragraph!</div>
//
// Styleguide 5.14


.offset-bottom {
    margin-bottom: @line-height-computed;
}


// Responsive Offset
//
// Offset that only applies in a linear layout.
//
// Markup:
// <div class="offset-responsive">I have extra bottom spacing on small screens.</div>
//
// Styleguide 5.14.1

.offset-responsive {
    margin-bottom: 2 * @line-height-computed;

    @media (min-width: @grid-float-breakpoint) {
        margin-bottom: 0;
    }
}
